@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600;700&display=swap');

:root{
  --orange:#ffa500
}

body{

}
*{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition:all .3s linear ;
  -webkit-transition:all .3s linear ;
  -moz-transition:all .3s linear ;
  -ms-transition:all .3s linear ;
  -o-transition:all .3s linear ;
}
*::selection{
  background-color: var(--orange);
  color: #fff;
}


html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
.btn{
  display: inline-block;
  margin-top: 1rem;
  background-color: var(--orange);
  color: #fff;
  padding: .8rem 3rem;
  border: .2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
}
.btn:hover{
  background-color: rgba(255, 165, 0, .2);
  color: var(--orange);
}
section{
  padding: 2rem 9%;
}
.heading{
  text-align: center;
  padding: 2.5rem 0;
}
.heading span{
  font-size: 3.5rem;
  background-color: rgba(255, 165, 0, .2);
  color: var(--orange);
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  padding: .2rem 1rem;
}
.heading span.space{
  background: none;
}
/* 
================================
header section starts
===============
*/
#menu-bar{
  color: #fff;
  border: .1rem solid #fff;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  font-size: 3rem;
  padding: .5rem 1.2rem;
  cursor: pointer;
  display: none;
}


header{
  position: fixed;
  top: 0; left: 0; right: 0;
  background-color: #333;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
}

header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
}

header .logo span{
  color: var(--orange);
}
header .navber a{
  color: #fff;
  font-size: 2rem;
  margin: 0 .8rem;
}
header .navber a:hover{
  color: var(--orange);
}


header .icons i{
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover{
  color: var(--orange);
}

header .search-bar-container{
  position: absolute;
  top: 100%;left: 0;right: 0;
  padding: 1.5rem 2rem;
  background-color: #333;
  border-top: .1rem solid rgba(255, 255, 255, .2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);
}
header .search-bar-container.active{
  clip-path: polygon(0 0 , 100% 0 , 100% 100% , 0 100%);
}

header .search-bar-container #search-bar{
  width: 100%;
  padding: 1rem;
  text-transform: none;
  color: #333;
  font-size: 1.7rem;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

header .search-bar-container label{
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}
header .search-bar-container label{
  color: var(--orange);
}
.login-form-container{
  position: fixed;
  top: -120%;left: 0;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}
.login-form-container.active{
  top: 0;
}
.login-form-container form{
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  background-color: #fff;
  width: 50rem;
}
.login-form-container form h3{
  font-size: 3rem;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}
.login-form-container form .box{
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  margin: .6rem 0;
  border: .1rem solid rgba(0, 0, 0, .3);
  text-transform: none;
}
.login-form-container form .box:focus{
  border: .1rem solid var(--orange);
}
.login-form-container form #remember{
  margin: 2rem 0;

}
.login-form-container form label{
  font-size: 1.5rem;
}


.login-form-container form .btn{
  display: block;
  width: 100%;
}

.login-form-container form p{
  padding: .5rem 0;
  font-size: 1.5rem;
  color: #666;
}
.login-form-container form p a{
  color: var(--orange);
}
.login-form-container form p a:hover{
  color: #333;
  text-decoration: underline;
}


.login-form-container #form-close{
  position: absolute;
  top: 2rem ; right: 3rem;
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
}



/* 
================================
header section ends
===============
*/

/* 
================================
home section starts 
===============
*/

.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}
.home .content{
  text-align: center;
}

.home .content h3{
  font-size: 4.5rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow:  0 .3rem .5rem rgba(0, 0, 0, .1);
}
.home .content p{
  font-size: 2.5rem;
  color: #fff;
  padding: .5rem 0;
}

.home .video-container video{
  position: absolute;
  top: 0; left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home .controls{
  padding: 1rem;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  background: rgba(0, 0, 0, .7);
  position: relative;
  top: 20rem;
}
.home .controls .vid-btn{
  height: 2rem;
  width: 2rem;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #ffff;
  cursor: pointer;
  margin: 0 .5rem;
}
.home .controls .vid-btn.active{
  background-color: var(--orange);
}



/* 
================================
home section ends 
===============
*/






/* 
================================
book section  starts 
===============
*/

.book .row{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}
.book .row .image{
  flex: 1 1 40rem;
}
.book .row .image img{
  width: 100%;
}


.book .row form{
  flex: 1 1 40rem;
  padding: 2rem;
  box-shadow:  0 1rem 2rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.book .row form .inputBox{
  padding: .5rem 0;
}

.book .row form  .inputBox input{
  width: 100%;
  padding: 1rem;
  border: .1rem solid rgba(0, 0, 0, .1);
  font-size: 1.7rem;
  color: #333;
  text-transform:none ;
}
.book .row form  .inputBox h3{
  font-size: 2rem;
  padding: 1rem 0;
  color: #666;
}





/* 
================================
book section  ends 
===============
*/



/* 
================================
packages section starts
===============
*/


.packages .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.packages .box-container .box{
  flex: 1 1 30rem;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
}
.packages .box-container .box img{
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.packages .box-container .box .content{
  padding: 2rem;
}

.packages .box-container .box .content h3{
  font-size: 2rem;
  color: #333;
}

.packages .box-container .box .content h3 i{
  color: var(--orange);
}
.packages .box-container .box .content p{
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}

.packages .box-container .box .content .stars i{
  font-size: 1.7rem;
  color: var(--orange);
}
.packages .box-container .box .content .price{
  font-size: 2rem;
  color: #333;
  padding-top: 1rem;
}
.packages .box-container .box .content .price span{
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through;
}



/* 
================================
packages section ends
===============
*/

/* 
================================
services section starts
===============
*/

.services .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.services .box-container .box{
  flex: 1 1 30rem;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  padding: 2rem;
  text-align: center;
}

.services .box-container .box i{
  padding: 1rem;
  font-size: 5rem;
  color: var(--orange);
}
.services .box-container .box h3{
  font-size: 2.5rem;
  color: #333;
}



.services .box-container .box p{
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}
.services .box-container .box:hover{
  box-shadow:  0 1rem 2rem rgba(0, 0, 0, .1);
}



/* 
================================
services section ends
===============
*/







/* 
================================
gallery section starts
===============
*/
.gallery .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.gallery .box-container .box {
  flex: 1 1 30rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
  border: 1rem solid #fff;
  border-radius:.5rem ;
  -webkit-border-radius:.5rem ;
  -moz-border-radius:.5rem ;
  -ms-border-radius:.5rem ;
  -o-border-radius:.5rem ;
  height: 25rem;
  position: relative;
}
.gallery .box-container .box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .box-container .box .content{
  position: absolute;
  top: -100%;left: 0;
  width: 100%;height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, .7);
  padding: 2rem;
  padding-top: 5rem;
}
.gallery .box-container .box:hover .content{
  top: 0;
}

.gallery .box-container .box .content h3{
  font-size: 2.5rem;
  color: var(--orange);

}
.gallery .box-container .box .content p{
  font-size: 1.5rem;
  color: #eee;
  padding: .5rem 0;
}



/* 
================================
gallery section ends
===============
*/



/* 
================================
review section starts
===============
*/

.review .review-slider{
  padding-bottom: 2rem;
}


.review .box{
  padding: 2rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  cursor: pointer;
}
.review .box img{
  width:13rem;
  height:13rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.review .box h3{
  font-size: 2.5rem;
  color: #333;
}
.review .box p{
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}
.review .box .stars i{
  font-size: 1.7rem;
  color: var(--orange);
}

/* 
================================
review section ends
===============
*/






/* 
================================
contact section starts
===============
*/

.contact .row{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.contact .row .image {
  flex: 1 1 35rem;
}
.contact .row .image img{
  width: 100%;
}


.contact .row form {
  flex: 1 1 50rem;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}
.contact .row form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact .row form .inputBox input , .contact .row form  textarea{
  width: 49%;
  margin: 1rem 0 ;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  background-color: #f7f7f7;
  text-transform: none;
}
.contact .row form  textarea{
  height: 15rem;
  resize: none;
  width: 100%;
}

/* 
================================
contact section ends
===============
*/

/* 
================================
.brand-container section starts
===============
*/


.brand-container{
  text-align: center;
}







/* 
================================
.brand-container section ends
===============
*/



/* 
================================
footer section starts
===============
*/
.footer{
  background-color: #333;
}
.footer .box-container{
  display:flex;
  flex-wrap: wrap;
  gap: 1.5;
}


.footer .box-container .box{
  padding: 1rem 0;
  flex:1 1 25rem;
}


.footer .box-container .box h3{
  font-size: 2.5rem;
  padding:.7rem 0;
  color:#fff;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  padding:.7rem 0;
  color:#eee;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  padding:.7rem 0;
  color:#eee;
}

.footer .box-container .box a:hover{
  color:var(--orange);
  text-decoration: underline;
}

.footer .credit{
  text-align: center;
  padding:2rem 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color:#fff;
  border-top: .1rem solid rgba(255,255,255,.2);
}

.footer .credit span{
  color:var(--orange);
}




/* 
================================
footer section ends
===============
*/












/* 
================================
media
===============
*/

@media (max-width:1200px) {
  html{
    font-size: 55%;
  } 
}

@media (max-width:991px) {
  header{
    padding: 2rem;
  }
  section{
    padding: 2rem;
  }
}
@media (max-width:768px) {
  #menu-bar{
    display: initial;
  }
  header .navber{
    position: absolute;
    top: 100%;right: 0;left: 0;
    background-color: #333;
    border-top: .1rem solid rgba(255, 255, 255, .2);
    clip-path: polygon( 0 0 , 100% 0 , 100% 0 , 0 0);
  }
  header .navber.active{
    clip-path: polygon( 0 0 , 100% 0 , 100% 100% , 0 100%);
  }
  header .navber a{
    display: block;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    padding: 1.5rem;
    margin: 1.5rem ;
    background-color: #222;

}
}


@media (max-width:450px) {
  html{
    font-size: 50%;
  } 
  .heading span{
    font-size: 2.5rem;
  }
  .home .content h3{
    font-size: 3rem;
  }
}